{% extends "base.html" %}

{% block nav %}
    <li role="presentation"><a href="/home">Home</a></li>
    <li role="presentation"><a href="/about">About</a></li>
    <li role="presentation"><a href="/contact">Contact</a></li>
{% endblock %}

{% block content %}
    Test
    {% if links %}
        <ul>
            {% for link in links %}
                <li>{{ link }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No links were found on this page. Click <a href="/home">here</a> to return to the home page.</p>

    {% endif %}
{% endblock %}